<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>管理后台-大博云柜</title>
    <css href="__PUBLIC__/CSS/signin.css"/>
    <css href="__PUBLIC__/CSS/xinxing.css"/>
    <js href="__PUBLIC__/JS/jquery.js"/>
    <script type="text/JavaScript">
        function loginCheck() {
            if ("" == document.getElementById("username").value) {
                alert("请输入用户名");
                return false;
            }

            if ("" == document.getElementById("password").value) {
                alert("请输入密码");
                return false;
            }
            return true;
        }

        $(function () {
        });
    </script>
<style type="text/css">
      body{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
	padding-top:20px;
    }
  </style>
</head>
<body>
<!--<form action="__ROOT__/Home/Access/logining" method="post" class="form-signin" role="form">-->
<form action="{:U('access/logining')}" method="post" onsubmit="return loginCheck();" class="form-signin" role="form">
    <h2 class="form-signin-heading">大博云柜系统后台</h2>
    <input name="username" id="username" class="form-control" placeholder="账号" autofocus/>
    <input name="xin" type="hidden"/>
    <input name="password" id="password" type="password" class="form-control" placeholder="密码"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>
</body>
</html>
